.App {
  text-align: center;
}

.kzColor1 {
  background: #8992B9;
  color: #ffffff;
}
.kzColor2 {
  background: #BDAFC9;
  color: #ffffff;
}
.kzCard {
  width: 18rem;
}

.kzFont1 {
  font-family: Kanit, sans-serif;
  font-size: 2em;
}
.kzFont2 {
  font-family: Kanit, sans-serif;
  font-size: 2.5em;
}

.kzHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.kzFace {
  width: 100%;
  max-height: 40%;
}

.kzGraph {
  max-height: 40%;
}

.kzFooter {
  width: 100%;
  display: flex;        /* アイコンを横に並べる                 */
  justify-content: space-evenly;
  align-items: center;
  position: absolute;   /* 下に固定。position:absolute bottom:0 */
  bottom: 0;
}

.kzMenu {
  display: flex;
  height: 30%;
  border-radius: 10px 10px 10px 10px;    /* 角丸のBOX */
  justify-content: center;
  align-items: center;
}

.kzImage {
  width: 50%;            /* 親要素(div)(表示領域)の50%幅 */
  height: auto;          /* 縦横比(アスペクト比)は元イメージに合わせる */
  border-radius: 50%;    /* 丸く切り取る */
}

/* デバッグ用 */
.clr44 {
  background: #444444;
  color: #ffffff;
}
.clrff8888 {
  background: #ff8888;
}
.div1 {
  background: #ffffff;
  text-align: center;
}

/*　イベント用　*/
.kzActivityBox{
  max-width: 800px;
  margin:30px auto;
  overflow:auto;
  min-height:300px;
  border:1px solid black;
  padding: 30px;
  border-radius: 5px;
}


